<ion-content class="spotifyApi">
  <div class="testingSpotify">
    Test 1 - Spotify Request
  </div>
    <div class="spotifySearch">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <ion-input type="search" placeholder="Search" (input)="searchArtist($event)"></ion-input>
      </label>

    </div>
    <ion-list>
      <div *ngFor="let singer of artist">
          <ion-avatar  item-left>
              <img *ngFor="let img of image" src="{{singer.images[0].url}}" alt="album">
          </ion-avatar>
              <p class="item-description">{{singer.name}}</p>
      </div>
  </ion-list>
  <button [navPush]="localDb">Test you device</button>


</ion-content>
